.box{
    display: flex;
    text-align: center;
}
.col1{
    background-image: radial-gradient(circle,hsl(252, 100%, 67%),hsla(256, 72%, 46%, 1));
   padding: 2%;
   border-radius: 25px;
}
h2,h3{
    color: #baaffb;
    font-family: Arial, Helvetica, sans-serif;
}
h1,p{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin: 0;
}
.score{
    border-radius: 100px;
    padding-top:50px;
    margin: auto;
    max-width: fit-content;
    padding: 40px;
    background-image: linear-gradient(hsla(256, 72%, 46%, 1), hsl(252, 100%, 67%));
}
body{
    margin-left: 650px;
}
html{background-color: hsl(221, 100%, 96%);}
.message{
    max-width: 225px;}
h1{margin: 0;}
.col2{
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    width: 225.25px;
    padding: 2%;
    border-radius: 25px;
}
.reaction{
    color: hsl(0, 100%, 67%);
    border-radius: 25px;
    background-color: hsl(0, 100%, 80%);
}
.memory{
    color: hsl(39, 100%, 56%);
    background-color:hsl(39, 100%, 80%) ;
}
.verbal{
    color: hsl(166, 100%, 37%);
    background-color: hsl(166, 100%, 50%);
}
.visual{
    color: hsl(234, 85%, 45%);
    background-color: hsl(234, 85%, 70%);
}
.reaction::before{
    content: url(assets/images/icon-reaction.svg);
}
.memory::before{
    content: url(assets/images/icon-memory.svg);
}
.verbal::before{
    content: url(assets/images/icon-verbal.svg);
}
.visual::before{
    content: url(assets/images/icon-visual.svg);
}
.col2 p{
    padding-top: 7.5px;
    padding-bottom: 7.5px;
    margin-top: 5px;
    border-radius: 10px;
}
.continue{
    background-color: hsl(224, 30%, 27%);
    border-radius: 25px;
    margin-top: 30px;
    padding: 1px;
}
.summary{
    color: black;
    text-align: left;
}